:host {
  .menu {
    max-width: 100%;
    margin-bottom: 32px;
  }

  .container {
    padding: 2em;
    max-width: 100%;
    border-width: 2px;
    border-radius: 10px;
    border-style: dashed;
  }
}
